APP_NAME=SmartAgriculture
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

FIREBASE_PROJECT_ID=your-project-id
FIREBASE_DATABASE_URL=https://your-project-id-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_API_KEY=your-web-api-key
FIREBASE_AUTH_TOKEN=your-firebase-auth-token
FIREBASE_TIMEOUT=10
